  /v1/{{node_id}}/{{endpoint_id}}/{{cluster_name}}/attribute/{{attribute_name}}:
    {% if is_readable %}
    get:
      tags:
        - endpoint {{endpoint_id}} ({{endpoint_name_list}}) - {{cluster_name}} 
      summary: Get attribute
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  {{attribute_name}}:
                    type: {{attribute_type}}
        '404':
          description: Node, Endpoint, Cluster or Attribute not found
    {% endif %}
    {% if is_writable %}
    post:
      tags:
        - endpoint {{endpoint_id}} ({{endpoint_name_list}}) - {{cluster_name}} 
      summary: Set attribute
      requestBody:
        content:
          application/json:
              schema:
                type: object
                properties:
                  {{attribute_name}}:
                    type: {{attribute_type}}
      responses:
        '200':
          description: Successful operation
        '404':
          description: Node, Endpoint, Cluster or Attribute not found
    {% endif %}
