  /v1/{{node_id}}/{{endpoint_id}}/{{cluster_name}}/command/{{command_name}}:
    post:
      tags:
        - endpoint {{endpoint_id}} ({{endpoint_name_list}}) - {{cluster_name}} 
      summary: Apply command
{% if has_body %}      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:{% for label, json_type in parameters.items() %}
                {{label}}:
                  type: {{json_type}}{% endfor %}{% endif %}
      responses:
        '200':
          description: Successful operation
        '404':
          description: Node, Endpoint, Cluster or Attribute not found
